[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[user]
	name = i854966
	email = baofeng.xue@sap.com
[pull]
	rebase = true
	ff = only
[alias]
	co = checkout
	br = branch
    stash = stash save -u
    squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
    st = status
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    wow = log --all --graph --decorate --oneline --simplify-by-decoration
	append = town append
	hack = town hack
	kill = town kill
	new-pull-request = town new-pull-request
	prepend = town prepend
	prune-branches = town prune-branches
	rename-branch = town rename-branch
	repo = town repo
	ship = town ship
	sync = town sync
	up = "!git remote update -p; git merge --ff-only @{u}"
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[remote "origin"]
	proxy =

[push]
	default = matching

[branch]
	autosetuprebase = always
[http]
	proxy = http://proxy:8080
[https]
	proxy = http://proxy:8080
