[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	nanme = "Baofeng Xue"
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input

[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
	conflictstyle = diff3

